@tailwind base;
@tailwind components;
@tailwind utilities;

.full { @apply w-full h-full }

html, body, #app { @apply full }

#app { @apply bg-black text-white flex flex-col}

.center{@apply flex justify-center items-center}

.view{ @apply w-full h-full bg-coal}
.page{ @apply w-full h-full flex flex-col p-8 gap-4 }